*{
    box-sizing: border-box;
}

#game_body{
    height: 320px;
    width: 320px;
    margin: auto;
}
.game_roll{
    position: relative;
    height: 33%;
    width: 33%;
    border: 1px solid red;
    float: left;
}
h1{
    padding-left: 25px;
    margin: 0px;
    font-size: 500%;
}
.container{
    border: 1px solid yellowgreen;
    text-align: center;
}
#won_text{
    
}
p{
    padding: 0;
    font-size: 80px;
    position: absolute;
    left: 20px;
}

@keyframes animate{
    0%{
        opacity: 1;
        transform: translate(-50px);
    }
    50%{
        opacity: 1;
        transform: translate(50px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}